.app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    .modal-container {
      margin-bottom: 20px;
    }
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    width: 280px;
  
    h3 {
      margin-top: 0;
    }
  
    img {
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0px 18px 30px 0px #CFCBEC;
      ;
      ;
    }
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
$primary-color:  #3D348B;
$secondary-color: #6c757d;

body {
  font-family: 'Sora', sans-serif;
  color: $secondary-color;
}

.background-container {
  background-image: url('../assets/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: $primary-color;
  font-size: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.secondary {
    background-color: $secondary-color;
    color: white;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}

/*Запасной*/
.card img {
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-content h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-left: 8px;
  color: #F35B04;
;

}

.card-content h3 {
  font-size: 1.3rem;
  color: #1C1C1E;
  margin-bottom: 2px;
  margin-left: 8px;
}

.card-content p {
  margin-bottom: 2px;
  margin-left: 8px;
  color: #979797;

}

.product-image {
  width: 89%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin: 16px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  color: $primary-color;
}

.modal .text-field {
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
}

.modal .text-field label {
  font-weight: bold;
  margin-bottom: 5px; 
}

.modal .text-field input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.modal .button {
  margin-top: 10px;
}


.add-product-btn {
  background-color: $primary-color; 
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}

.add-product-btn-disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.buy-product-btn,
.delete-product-btn {
  background-color: $primary-color; 
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 16px;
}

.add-product-btn:hover,
.buy-product-btn:hover,
.delete-product-btn:hover {
  background-color: #234297;
}

.buy-product-btn-disabled,
.delete-product-btn-disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  margin-left: 16px;
}

.notification {
  color:white;
  font-weight: 600;
}

